{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'event_viewer/css/style.css' %}">
</header>
<div style="display: flex">
    <img class="thumb-image loaded" src="{% static 'event_viewer/img/crying.jpeg' %}" alt="Cart">
    <div style="margin-left: 150px; margin-top: 200px;">
        <h1 style="font-family: sans-serif">Awwww......Don't Cry.</h1>
        <h2>{{ exception }}</h2>
        <p style="font-size: large; font-family: sans-serif">{{ error_message }} :))</p>

        <br><br>
        <a href="{% url 'home' %}" class="button-53" role="button">Повернутись до вибору</a>
    </div>
</div>